* {
    box-sizing: border-box;
}

#header {
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container {
    width: 90%;
    border: 1px solid black;
}

#echoPhrase {
    width: 80%;
    margin-bottom: .5em;
}

#echoButton, #response {
    margin-bottom: .5em;
}

.grandCanyon {
    background: image("/img/img_487_2.jpg");
}